.menu .card1, .card2, .card3 {
    width: 275px;
    height: 225px;
    margin: auto; /* Fjern senere ***********************/
    -webkit-mask-image: linear-gradient(transparent, black 50%);
    mask-image: linear-gradient(transparent, black 50%);
    border-radius: 0 0 var(--rounding-medium) var(--rounding-medium);
}

.menu .text {
    width: 275px;
    height: 50px;
    display: flex;

    & p {
        color: white;
        text-align: center;
    }
}

.menu .card {
    position: relative;
    border-radius: var(--rounding-medium);
    margin-bottom: var(--spacing-large);
    background-color: var(--darkgreen);

    & .fade-bg {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.card1 {
    background-image: url(../images/dog-food-img.jpg);
    background-size: cover;
}

.card2 {
    background-image: url(../images/dog-supply-img.jpg);
    background-size: cover;
}

.card3 {
    background-image: url(../images/dog-toy-img.jpg);
    background-size: cover;
}