.hund-card {

}

.card1 {
    background-image: url(../images/dog-food-img.jpg);
    background-size: cover;
}

.card2 {
    background-image: url(../images/dog-supply-img.jpg);
    background-size: cover;
}

.card3 {
    background-image: url(../images/dog-toy-img.jpg);
    background-size: cover;
}