@media (min-width: 600px) {
    /* General styling for "hund" and subpages */
    .content {
        padding: 0 calc(var(--spacing-large) * 2) 0 calc(var(--spacing-large) * 2);

        & .pc-card {
            padding: 0 var(--spacing-medium) 0 var(--spacing-medium);
        }
    }

    /* Menu under "hund" */
    .menu .card1, .card2, .card3 {
        width: 500px;
        height: 225px;
    }

    .menu .card1 {
        background-size: 300%;
    }

    .menu .card2 {
        background-position: center center;
    }

    .menu .card3 {
        background-size: 125%;
        background-position: center left;
    }

    .card .text {
        height: 75px;
    
        & p {
            font-size: 1.5rem;
        }
    }

    /* Styling for the hero images on dog subpage "foder" */
    .hero-img {
        padding: 65px 65px;
    }
    .foder-bg {
        background-size: 200%;
    }

    /* Styling cards */
    .info-box {
        width: 425px;
      }

    .white-card-styling {
        padding: var(--spacing-large) calc(var(--spacing-large) * 2) var(--spacing-medium) calc(var(--spacing-large) * 2);
        margin-bottom: var(--spacing-large);
    }

    /* Styling for images */
    .img-flex img {
        max-width: 200px;
        height: 100%;
      }

    /* Specific styling for card with info about barf & kødben */
    .barf-card {
        background-position: 47% 62%;
        background-size: 200%;
    }

    .pc-grid-2-1 {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: calc(var(--spacing-large) * 2);
    }

    .kodben-card1 {
        background-size: 100%;
      }
}

@media (min-width: 1000px) {
    .pc-hide {
        display: none;
    }

    .pc-only {
        display: block;
    }

    img.pc-only {
        width: 175px;
    }

    .info-box {
        width: 400px;
        max-height: 420px;
        margin: 0;
    }

    .pc-mb-large {
        margin-bottom: var(--spacing-large);
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin: 0 calc(var(--spacing-large) * 3) 0 calc(var(--spacing-large) * 3);
        gap: var(--spacing-large);

        & .card1, .card2, .card3 {
            width: 100%;
            min-width: 275px;
            height: 450px;
            margin: 0;
            flex: 1;
        }
    }

    .card .text {
        height: 75px;
    
        & p {
            font-size: 1.5rem;
            max-width: 80%;
        }
    }

    .menu .card1 {
        background-size: 550%;
    }

    .menu .card3 {
        background-size: cover;
        background-position: 27%;
    }

    .barf-card {
        & .barf-margin {
            margin: 0;
        }

        & .pc-grid-2-1 {
            column-gap: calc(var(--spacing-large) * 5);
        }
    }

    /* Styling the tabs */
    .tab {
        height: 125px;
        margin-bottom: var(--spacing-medium);
    
        & img {
          width: 70px;
        }
    }

    .tab button {
        width: 150px;
        padding: calc(var(--spacing-small) / 2) var(--spacing-small);
    
        & p {
          font-size: 1.3rem;
          font-weight: 600;
          padding: 0;
          margin: 0 0 5px 0;
        }
    }
}

@media (min-width: 1300px) {
    .barf-card {
        background-position: 32% 62%;
        background-size: 130%;
    }

    .pc-grid-2-1 {
        grid-template-columns: 1.3fr 1fr;
        column-gap: calc(var(--spacing-large) * 4);
    }
}