/* General styling for the 3 dog menu cards*/
.menu .card1, .card2, .card3 {
    width: 275px;
    height: 225px;
    -webkit-mask-image: linear-gradient(transparent, black 50%);
    mask-image: linear-gradient(transparent, black 50%);
    border-radius: 0 0 var(--rounding-medium) var(--rounding-medium);
    background-size: cover;
}

.menu .text {
    height: 50px;
    display: flex;

    & p {
        color: white;
        text-align: center;
    }
}

.menu .card {
    position: relative;
    border-radius: var(--rounding-medium);
    margin-bottom: var(--spacing-large);
    background-color: rgb(var(--darkgreen));
}

/* Specific styling for the 3 dog menu-cards */
.menu .card1 {
    background-image: url('../images/dog-food-img.jpg');
    background-position: center center;
    background-size: 400%;
}

.card2 {
    background-image: url('../images/dog-supply-img.jpg');
}

.card3 {
    background-image: url('../images/dog-toy-img.jpg');
}

/* "Hund" subpages styling */
/*Spacing between sections in the text */
.tabcontent p, ul {
  padding-bottom: var(--spacing-medium);
}

/* General styling for the hero images on the dog subpages */
.hero-img {
  position: relative;
  padding: 25px 25px;
}

/* specific styling for the hero images on the dog subpage "foder" */
.foder-bg {
  background-image: url(../images/dog-food-light.jpg);
  background-position: center center;
  background-size: cover;
  background-size: 300%;
}

/* General styling for cards */
.styling-card {
  padding: var(--spacing-medium) var(--spacing-large) var(--spacing-small) var(--spacing-large);

  & h2 {
    text-align: center;
  }
}

/* General styling for info boxex */
.info-box {
  background-color: rgb(var(--darkbrown));
  color: white;
  width: 215px;
  border-radius: var(--rounding-medium);
  margin-bottom: var(--spacing-large);

  & p, ul {
    padding-bottom: var(--spacing-medium);
  }
}

.white-card-styling {
  padding: var(--spacing-medium) var(--spacing-large) var(--spacing-small) var(--spacing-large);

}

/* Styling images with flex-row */
.img-flex {
  flex: 1;
  margin-bottom: var(--spacing-large);

  & img {
    width: 50%;
  }
}

/* Specific styling for card with info about barf */
.barf-card {
  background-image: url('../images/schfer-hund-dark.jpg');
  background-position: center center;
  background-size: cover;
  border: 5px solid white;
  color: white;
  border-radius: var(--rounding-small);
  margin-bottom: var(--spacing-large);

  & .barf-margin {
    margin-top: calc(var(--spacing-large) * 4);
  }
}

/* Styling the tab */
.tab {
    overflow: hidden;
    height: 100px;
    margin-bottom: var(--spacing-medium);

    & img {
      width: 50px;
      height: 100%;
    }
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    width: 100px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: calc(var(--spacing-small) / 3) var(--spacing-small);
    transition: 0.3s;
    border-radius: var(--rounding-small);

    & p {
      font-family: 'Lorenda Solid', sans-serif;
      font-size: 1rem;
      font-weight: 600;
      padding: 0;
      margin: 0 0 5px 0;
    }
  }
  
  /* Change hover effect and active affect on tab-buttons */
  .tab button:hover {
    background-color: rgba(var(--lightgreen), 0.3);
  }
  
  .tab button.active {
    background-color: rgba(var(--lightgreen), 0.8);
  }
  
  /* General styling of the tab content */
  .tabcontent {
    display: none;
    padding: 0;
    border-top: none;
  }