.content p, ul {
  padding-bottom: var(--spacing-medium);
}

#delivery {
    Font-family: "Outfit", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 0 var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.g-card {
    padding: var(--spacing-large);
    margin: auto;
    border-radius: var(--rounding-medium);
    width: 85%;

    & h2 {
        font-style: italic;
        font-size: 1.5rem;
    }
}

.lightgreen-card {
    background-color: rgb(var(--lightgreen));
    margin-bottom: var(--spacing-large);
}

.green-card2 {
    background-color: rgb(var(--green));
}

.darkgreen-card {
    background-color: rgb(var(--darkgreen));
    margin-bottom: var(--spacing-large);
}


.info-bg {
    background-image: url('../images/dog-background-img.jpg');
    background-size: 120%;
    background-position: 27% 60%;
}