.content p, ul {
  padding-bottom: var(--spacing-medium);
}

#delivery {
    Font-family: "Outfit", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 0 var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.img-div {
    width: 100%;
    height: 300px;
}

.img-full-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightgreen-card {
    background-color: rgb(var(--lightgreen));
    border-radius: var(--rounding-large);

    & h2 {
        font-style: italic;
    }
}

.green-card2 {
    background-color: rgb(var(--green));
    border-radius: var(--rounding-large);

    & h2 {
        font-style: italic;
    }
}

.darkgreen-card {
    background-color: rgb(var(--darkgreen));
    border-radius: var(--rounding-large);

    & h2 {
        font-style: italic;
    }
}