#kontakt_body {
  width: 100%;
  height: auto;

  margin: auto;
  min-height: 100%;
}

.kontakt_wrapper {
  background-image: url(../images/kontakt_baggrund.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 100vw;
  min-height: 900px;
  height: 100%;
  padding: 0 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}

.kontakthero,
.kontaktHeroUnder {
  position: relative;
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 300;
  color: whitesmoke;
  font-size: 4rem;
  white-space: nowrap;
}

.kontakthero {
}

.kontaktHeroUnder {
  font-size: 2rem;
}

.kontaktform_container {
  display: grid;
  justify-self: end;
  align-items: end;
}

/* Form styling */
label,
input,
button,
textarea {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  overflow: hidden;
  padding-top: 4rem;
}

/*.form-felt {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  justify-self: start;
  padding-bottom: 1rem;
}*/

label {
  color: whitesmoke;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: left;
  align-self: top;
  float: left;
  grid-column: 1 / 2;
}

input {
  width: 100%;
  height: 40px;
  background: white;
  padding: 0.7em;
  border: 0;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 15px 4px rgba(238, 238, 238, 0.06);
  grid-column: 2 / 3;
}

textarea {
  position: relative;
  width: 100%;
  height: 160px;
  border-radius: 4px;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  resize: vertical;
}

#kontakt_button {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: whitesmoke;
  color: #131313;
  padding: 0 10rem;
  border-radius: 4px;
  transition: 0.2s;
  will-change: transform;
  grid-column: 2 / 3;
}

#kontakt_button:active {
  transform: translateY(2px);
}

@media screen and (max-width: 600px) {
  #kontakt_body {
    width: 100%;
    height: 100%;
  }

  .kontakt_wrapper {
    background-size: auto;
    width: 100%;
    max-width: 390px;
    height: auto;
    max-height: 900px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: auto;
  }

  .kontaktform_container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 30px;
    padding: 0 8px;
  }

  .kontakthero {
    position: relative;
    font-weight: 300;
    color: whitesmoke;
    font-size: 2.4rem;
    top: 15%;
    white-space: normal;
    justify-self: center;
    margin-top: 4rem;
  }

  .kontaktHeroUnder {
    position: relative;
    white-space: normal;
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    position: relative;
    gap: 30px;
    margin: auto;
    padding: 8px;
  }

  input {
    width: 16rem;
    height: 40px;
    background: white;
    padding: 0.7em;
    border: 0;
    outline: none;
    box-shadow: 0 0 15px 4px rgba(238, 238, 238, 0.06);
  }

  textarea {
    position: relative;
    width: 16rem;
    max-width: 16rem;
    height: auto;
    margin-bottom: 0.5rem;
    resize: vertical;
  }

  #kontakt_button {
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: whitesmoke;
    color: #131313;
    padding: 0;
    width: 16rem;
    border-radius: 4px;
    transition: 0.2s;
    will-change: transform;
    grid-column: 2 / 3;
    font-size: 20px;
  }
}
