@import url("theme.css");

/* Fonts - 'Londrina Outline', 'Londrina Solid', 'Neucha', 'Outfit' */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@300;400;900&family=Neucha&family=Outfit:wght@300;400;500;700&display=swap");

/* General styling */
* {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: auto;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Headings, paragraphs and lists */
h1,
h2,
h3,
button,
.herotext {
  font-family: "Londrina Solid", sans-serif;
}

h1 {
  font-size: 2.2rem;
  margin: 0 0 var(--spacing-large) 0;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: var(--spacing-small);
}

p,
ol,
ul {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

/* General classnames */
button:not(.unstyled) {
  width: 170px;
  height: 65px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--rounding-small);
  border: 4px solid white;
  background-color: rgb(var(--darkgreen));
}

/* Generel classnames for "content" */
.content {
  padding: 0 var(--spacing-medium) 0 var(--spacing-medium);
}

/* Generel classnames for flex and grid --> not specific */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* General styling for lines next to titles */
.line {
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: var(--rounding-small);
}

.line-heading {
  margin-bottom: var(--spacing-large);

  & h1 {
    margin: 0;
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
}

/* General styling for spacing */
.mb-large {
  margin-bottom: var(--spacing-large);
}

/* Nav bar styling */
.nav_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  padding: 16px 2rem 0 2rem;
  z-index: 999;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-family: "Londrina Solid", sans-serif;
  font-size: 2.2rem;
  color: whitesmoke;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

nav ul li {
  list-style-type: none;
}

.home_knap {
  color: #1e1e1e;
  display: flex;
  gap: 1rem;
}

#home_knap_hvid {
  color: whitesmoke;
}

.button_box {
  position: relative;
  display: flex;
  padding: 0 2rem;
  gap: 1rem;
}

.poten_logo {
  background-image: url(/images/poten_logo.svg);
  background-repeat: no-repeat;
  height: 58px;
  width: 60px;
}

.poten_logo_hvid {
  background-image: url(/images/poten_logo_hvid.png);
  background-repeat: no-repeat;
  height: 58px;
  width: 60px;
}

/* Footer */

footer {
  background-color: rgba(20, 20, 18, 0.95);
  height: 360px;
  width: 100%;
  margin: 0;
}

.footer_wrapper {
  height: 360px;
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
}

.footer_logo {
  background-image: url(/images/poten_logo_groen.svg);
  background-size: cover;
  justify-self: center;
  width: 150px;
  height: 145px;
}

.footercontainer_left {
  height: 360px;
  width: 100%;
  padding: 4rem 0;
  justify-items: left;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.footercontainer_mid {
  height: 360px;
  width: 100%;
  padding: 2rem 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footercontainer_right {
  height: 360px;
  width: 100%;
  justify-content: end;
  align-items: center;
  text-align: end;
  position: relative;
  padding: 4rem 0;
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.footer_bold {
  color: #fff;
  font-family: Londrina Solid;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  padding-bottom: 0.4rem;
}

.footer_p {
  color: #fff;
  font-family: Londrina Solid;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
}

.footer_p:hover {
  color: #09b122;
}

.footer_ikon_box {
  display: flex;
  gap: 0.8rem;
}

.footer_ikon {
  height: 48px;
  width: 48px;
}
