@import url('theme.css');

/* Fonts - 'Londrina Outline', 'Londrina Solid', 'Neucha', 'Outfit' */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@300;400;900&family=Neucha&family=Outfit:wght@300;400;500;700&display=swap');

/* General styling */
* {
    max-width: 1600px;
    margin: auto;
}

.content {
    padding: 0 var(--spacing-medium) 0 var(--spacing-medium);
}

/* Headings and paragraphs */
h1, h2, h3, button {
    font-family: 'Londrina Solid', sans-serif;
}

h1 {
    font-size: 2.2rem;
    margin: var(--spacing-medium) 0 var(--spacing-medium) 0;
    text-align: center;
}

h2 {
    font-size: 1.9;
    font-weight: 300;
    margin-bottom: var(--spacing-small);
}

p, ol, ul {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

/* General classnames */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}