:root {
    /* Colors */
    --darkbrown: 73,69,54;
    --brown: 135,120,98;
    --lightbrown: 163,153,142;
    --darkgreen: 16,42,33;
    --green: 32,77,44;
    --lightgreen: 51,115,54;
    --brownred: 134,74,56;
    --darktext: 40,39,34;

    /* Spacing */
    --spacing-small: 12px;
    --spacing-medium: 20px;
    --spacing-large: 32px;

    /* Rounding */
    --rounding-small: 20px;
    --rounding-medium: 60px;
    --rounding-large: 100px;
}